# Now we will learn about Set practically

In [1]:
# Creating Set

set1 = {'India','Japan','France'}

print(set1)

{'Japan', 'India', 'France'}

In [2]:
# we can make set from a list

set1 = set([1, 2, 3, 2])
print(set1) # set cannot have duplicates item will only display once

{1, 2, 3}

##### Empty curly braces {} will make an empty dictionary in Python. To make a set without any elements, we use the set() function without any argument.

In [4]:
set1 = {}

# check data type of set1
print(type(set1))

# initialize set1 with set()
set1 = set()

print(type(set1))

<class 'dict'>
<class 'set'>

## Modifying Set

In [6]:
# Once a set is created, you cannot change its items, but you can add new items.
# add() method only adds 1 item

set1 = {'delhi','goa','manali'}

set1.add('pune')

print(set1)

{'pune', 'goa', 'manali', 'delhi'}

In [9]:
# We can use update() method more than 1 item

set1 = {'delhi','goa','manali'}

set1.update(['pune','kolkata','sikkim'])

print(set1)

{'manali', 'sikkim', 'pune', 'goa', 'kolkata', 'delhi'}

## Remove item from set

In [10]:
set1 = {6,2,9,0,4}

set1.remove(0)
#If the item to remove does not exist, remove() will raise an error
print(set1)

{2, 4, 6, 9}

In [17]:
set1 = {6,2,9,0,4}

set1.discard(1)
#If the item to remove does not exist, discard() will not raise an error
print(set1)

{0, 2, 4, 6, 9}

In [19]:
set1 = {6,2,9,0,4}

set1.pop()
#Set are unordered so we cannot guess which item will be removed
print(set1)

{2, 4, 6, 9}

In [21]:
set1 = {6,2,9,0,4}

set1.clear()
#It will remove all item not set()
print(set1)

set()

# Set Operations

In [26]:
# Union operation

set1 = {1,5,8,2,9}
set2 = {8,3,7,0,6}

print(set1|set2)

{0, 1, 2, 3, 5, 6, 7, 8, 9}

In [27]:
# Intersection operation

set1 = {1,5,8,2,9}
set2 = {8,3,7,0,6}

print(set1&set2)

{8}

In [30]:
# Difference operation

set1 = {1,5,8,2,9}
set2 = {8,3,7,0,1}

print(set1-set2)

{9, 2, 5}

In [31]:
# Symmetric Difference operation

set1 = {1,5,8,2,9}
set2 = {8,3,7,0,1}

print(set1^set2)

{0, 2, 3, 5, 7, 9}

## Some more Set method

In [33]:
set1 = {1,5,8,2,9}
set2 = {8,3,7,0,1}

set3 = set1.isdisjoint(set2)
#Returns True if two sets have a null intersection
print(set3)

False

In [35]:
set1 = {1,5,8,2,9}
set2 = {8,3,7,0,1,5,2,9}

set3 = set1.issubset(set2)
#Returns True if all items in the set exists in the specified set, otherwise it retuns False.
print(set3)

True

In [36]:
set1 = {1,5,8,2,9}
set2 = {8,3,7,0,1,5,2,9}

set3 = set1.issuperset(set2)
#Returns True if all items in the specified set exists in the original set, otherwise it retuns False.
print(set3)

False