# Assigning different types of data to a variable

In [7]:
x = 3
print(type(x))      # type(variable) gives the type of that data. Here 3 is "int" type (integer)

<class 'int'>

In [8]:
a = -2
print(type(a))

<class 'int'>

In [9]:
B = 4234.24
print(type(B))

<class 'float'>

In [10]:
c = -342.45
print(type(c))

<class 'float'>

In [12]:
# same variable name can be used in different cells.
c = 2 + 3j
print(type(c))

<class 'complex'>

In [13]:
comp = -5 + 36j
print(type(comp))

<class 'complex'>

In [16]:
a = 4
b = 10 
c = a < b      # gives output as "True" or "False". This is boolean type
print(c)
print(type(c))

True
<class 'bool'>

# Strings

In [17]:
# Anything inside the quotes is called as a "String"
a = "Dev Incept"
print(type(a))

<class 'str'>

In [19]:
a = ' '
print(type(a))  # Even though, we didn't mention anything inside quotes it is considered as a string

<class 'str'>

In [20]:
a = "-4"     # Even though it is an integer value, the value is inside the quotes so this is a "string"
print(type(a))

<class 'str'>

# Operations with strings

In [26]:
name = "Dev Incept "
print(name[0])

D

In [27]:
name = "Dev Incept"
print(name[0 : 3])

Dev

In [29]:
name = "Dev Incept"
print(name[2 : ])     # not mentioning ending index,means it prints from starting index mentioned to the end of the string.

v Incept

In [33]:
name = "Dev Incept"
name.upper()

'DEV INCEPT'

In [32]:
name = "Dev Incept"
name.lower()

'dev incept'

In [43]:
# splitting at the space
name = "Dev Incept" 
print(name.split())

# splitting at "n"
print(name.split('n'))

['Dev', 'Incept']
['Dev I', 'cept']

In [30]:
name = "Dev Incept"
print(name[:])      # not assigning starting and ending index gives the "Full string"

Dev Incept

In [45]:
name = "Dev Incept" 
name.replace("D" , "M")          # replace("which element you want to replace" , "What element you want")

'Mev Incept'

In [35]:
name = "Dev Incept"
another_name = " Rocks"
print(name + another_name)

Dev Incept Rocks

In [37]:
name = "Dev Incept " 
print(name * 2)

Dev Incept Dev Incept

In [39]:
name = "Dev Incept"
print(len(name))            # gives the length of the string 
                            # NOTE : Spaces are also considered

10

In [40]:
name = "Dev Incept" 
print(name[-1])           # "-1" means the last letter of the string

t

In [47]:
name = "Dev Incept" 
print(name[-4 : -1])

cep

In [48]:
name = "Dev Incept"
print(name[::-1])      # PRINTS THE REVERSE OF THE STRING

tpecnI veD

# List

In [23]:
a = [1,2,3,4]
print(a)
print(type(a))

[1, 2, 3, 4]
<class 'list'>

In [24]:
a = [3,-45,6.64,"Dev Incept"]
print(a)
print(type(a))

[3, -45, 6.64, 'Dev Incept']
<class 'list'>

In [25]:
list(range(1,20))        # last digit is excluded

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
l = [3 , 5 , 6 , 54 , 3 , 53 , 2 , 4 , 7 , 10]
sorted(l)

[2, 3, 3, 4, 5, 6, 7, 10, 53, 54]

In [9]:
# pop(index) , the element in that index is popped out
l = [3 , 5 , 6 , 54 , 3 , 53 , 2 , 4 , 7 , 10] 
l.pop(0)              
l

[5, 6, 54, 3, 53, 2, 4, 7, 10]

In [14]:
l = [3 , 5 , 6 , 54 , 3 , 53 , 2 , 4 , 7 , 10] 
print("Maximum elemnet in the list is",max(l))
print("Minimum elemnet in the list is",min(l))

Maximum elemnet in the list is 54
Minimum elemnet in the list is 2

In [10]:
# remove(element) , that element is removed
l = [3 , 5 , 6 , 54 , 3 , 53 , 2 , 4 , 7 , 10] 
l.remove(53)         
l

[3, 5, 6, 54, 3, 2, 4, 7, 10]

In [15]:
l = [3 , 5 , 6 , 54 , 3 , 53 , 2 , 4 , 7 , 10] 
sum(l)

147

In [23]:
# all elements are reversed
l = [3 , 5 , 6 , 54 , 3 ,'Dev incept' , 53 , 2 , 4 , 7 , 10 ] 
l.reverse()                                
print(l)

[10, 7, 4, 2, 53, 'Dev incept', 3, 54, 6, 5, 3]

In [50]:
a = [1,2,3,4] 
b = [10,20,30,40,50,60]
a + b                          # appending i.e, adding the values to the list

[1, 2, 3, 4, 10, 20, 30, 40, 50, 60]

In [62]:
a = [3 , -45 , 6.64 , "Dev Incept" , 100]
a.append("Github")              # adding another element to tthe list using append function
print(a)

[3, -45, 6.64, 'Dev Incept', 100, 'Github']

In [66]:
a = [3,-45,6.64,"Dev Incept"]
a.insert(0,10)                 # insert(index,value) here at 0 index we are inserting value 10
print(a)

[10, 3, -45, 6.64, 'Dev Incept']

In [71]:
a = [1,2,3,4]
a.extend(["Hai" , 4 , 10 , 'hello'])         # extend([list]) ie., list is added to the exsisting list
print(a)

[1, 2, 3, 4, 'Hai', 4, 10, 'hello']

# Tuple

In [52]:
a = (1,2,3,4)
print(a)
print(type(a))

(1, 2, 3, 4)
<class 'tuple'>

In [73]:
a = (1,2,3,4)
a.append(5)         # we cannot append in tuples. Because  tuples are immutable (not changeable)
print(a)

AttributeError: 'tuple' object has no attribute 'append'

In [28]:
a = (4,5,24,52,5.6)
print("Maximum elemnet in the tuple is", max(a))
print("Minimun elemnet in the tuple is", min(a))
print("The sum of the elements is", sum(a))

Maximum elemnet in the tuple is 52
Minimun elemnet in the tuple is 4
The sum of the elements is 90.6

In [8]:
a = tuple([1 ,5 , 2])         # Typing "tuple" gives a tuple even though,  we write list or string
print(a)
b = tuple('abc')
print(b)

(1, 5, 2)
('a', 'b', 'c')

In [103]:
a = (10,20,30,40)
print("Index of 30 is" ,a.index(30))
print("The sum of elements in the tuple is",sum(a))

Index of 30 is 2
The sum of elements in the tuple is 100

In [40]:
a = (10 , "Dev" , 4.5 , "Incept" , 10)
a.count(10)           # Counts how many times the element is repeated

2

# Set

In [76]:
a = {1,2,3,4,4,4,3}
print(a)            # repeted elements are deleted
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [12]:
s = {"Dev" , "Incept" , 10 , 5.4}            # output order is not predicted in sets
s

{10, 5.4, 'Dev', 'Incept'}

In [15]:
# Removing one element in the set

s = {10 , 'True' , 4.9 , 50}
s.remove(4.9)     
print(s)

{'True', 10, 50}

In [16]:
# An error will occur if we try to remove an element which is not there in the set

s = {10 , 'True' , 4.9 , 50} 
s.remove(101)
s

KeyError: 101

In [19]:
# Using "discard" method, there will be no error even though that element is not there in the set 

s = {10 , 'True' , 4.9 , 50}
s.discard(101)
print("The length of the set is" ,len(s))
print(s)

The length of the set is 4
{'True', 10, 4.9, 50}

In [20]:
s = {10 , 'True' , 4.9 , 50}
s.clear()               # "clear" method deletes all the elements in the set
print(len(s))

0

***Union and Intersection in sets***

In [25]:
set1 = {10,34,6,5,6,2,57,89,16}
set2 = {99,4,4,5,6,23,34}
set1.union(set2)

{2, 4, 5, 6, 10, 16, 23, 34, 57, 89, 99}

In [26]:
set1 = {10,34,6,5,6,2,57,89,16}
set2 = {99,4,4,5,6,23,34}
set1.intersection(set2)

{5, 6, 34}

In [27]:
set1 = {10,34,6,5,6,2,57,89,16}
2 in set1

True

In [28]:
set1 = {10,34,6,5,6,2,57,89,16}
999 in set1

False

# Dictionaries

In [48]:
d = {'name' : "Gayathri" , 'Age' : 20 , 'e-mail' : 'abcd@mail.com'}
print(d)
print(type(d))

{'name': 'Gayathri', 'Age': 20, 'e-mail': 'abcd@mail.com'}
<class 'dict'>

In [49]:
d = {'name' : "Gayathri" , 'Age' : 20 , 'e-mail' : 'abcd@mail.com'}
d["e-mail"]

'abcd@mail.com'

In [54]:
d = {'name' : "Gayathri" , 'Age' : 20 , 'e-mail' : 'abcd@mail.com'}
d['mobile'] = 1234512345
d['study'] = 'Btech'            # we can add new keys
d

{'name': 'Gayathri',
 'Age': 20,
 'e-mail': 'abcd@mail.com',
 'mobile': 1234512345,
 'study': 'Btech'}

In [64]:
d = {'name' : "Gayathri" , 'Age' : 20 , 'e-mail' : 'abcd@mail.com'}
d.update({'name' : 'Sita'})      # we can modify our values
d

{'name': 'Sita', 'Age': 20, 'e-mail': 'abcd@mail.com'}

In [71]:
d = {'name' : "Gayathri" , 'Age' : 20 , 'e-mail' : 'abcd@mail.com' , 'college' : 'abcd institute'}
del d["Age"]
print(d)

{'name': 'Gayathri', 'e-mail': 'abcd@mail.com', 'college': 'abcd institute'}

In [73]:
d = {'name' : "Gayathri" , 'Age' : 20 , 'e-mail' : 'abcd@mail.com'}
print(d.keys())           # the assignement, the left one names are the keys

print(d.values())         # the values for those keys, ie., the right one names are the values

print(d.items())          # Items means both keys and values

dict_keys(['name', 'Age', 'e-mail'])
dict_values(['Gayathri', 20, 'abcd@mail.com'])
dict_items([('name', 'Gayathri'), ('Age', 20), ('e-mail', 'abcd@mail.com')])

In [76]:
d = {'name' : "Gayathri" , 'Age' : 20 , 'e-mail' : 'abcd@mail.com' , 'college' : 'abcd institute'}
for key , value in d.items():
    print(key ," : " , value)

name  :  Gayathri
Age  :  20
e-mail  :  abcd@mail.com
college  :  abcd institute

# Type Conversions

In [77]:
x = 5 
y = float(x)        # converting integer to a float
print(y)

5.0

In [78]:
x = 4.34
y = int(x)         # converting float to int 
print(y)

4

In [81]:
x = 0
y = bool(x)        # converting int to boolean
print(y)

True

In [86]:
x = int(True)         # converting boolean to int 
print(x)
print(type(x))

#===============OR=============

a = True
b = float(a)          # converting bool to float
print(b)
print(type(b))

1
<class 'int'>
1.0
<class 'float'>

In [91]:
# int(a , base)

a = "1001"
print(int(a,2))       # converting binary number to integer

print(int(a,10))      # converting binary number to decimal value

print(int(a,16))      # converting binary number to hexadecimal value

9
1001
4097

In [95]:
num = 45
print(hex(num))     # converting num to hexadecimal
print(oct(num))     # converting num to ocatal

0x2d
0o55

# Operation on different types

***Arithemetic Operators***

In [51]:
x = 10 
y = 20

print("Addition : ",x + y)
print("Subtraction : ",x - y)
print("Multiplication : ",x * y) 
print("Divivsion : ",x / y)
print("Modulus : ",x % y)
print("Floor division : ",x // y)
print("Exponential : ",x ** y)

Addition :  30
Subtraction :  -10
Multiplication :  200
Divivsion :  0.5
Modulus :  10
Floor division :  0
Exponential :  100000000000000000000

***Comparison Operators***

In [60]:
x = 10 
y = 20 

print("x = y :", x == y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)
print("x != y :", x != y)     # not equal to

x = y : False
x < y : True
x > y : False
x <= y : True
x >= y : False
x != y : True

***Logical Operators***

In [71]:
x = 10

print("AND :",x > 5 and x < 10)        # Both conditions True --> output will be True , or else False
print("OR :",x > 5 or x < 10)         # Any one condition is True --> output will be True , or else False
print("NAND :",not(x >5 and x < 10))    # opposite to AND i.e, NAND 
print("NOR : ",not(x > 5 or x < 10) )   # opposite to OR i.e, NOR

AND : False
OR : True
NAND : True
NOR :  False

***Bitwise Operators***

In [79]:
# These operators are used to compare  Binary numbers
x = 1001
y = 1000

print("x AND y is :",x & y)
print("x OR y is :",x | y)
print("x XOR y is :",x ^ y)
print("NOT y is :", ~ y)

x AND y is : 1000
x OR y is : 1001
x XOR y is : 1
NOT y is : -1001