# **PYTHON 3 Programming**

So lets type our first line of code.

In [2]:
print('Hello, World!')
print("DevIncept")

Hello, World!
DevIncept

You can write your name or anything you wish to write.Tinker with the code as much as you want.

## **Variables**

In [3]:
Name= 'John'
Age= 19
Company= 'DevIncept'
print(Name,Age,Company)

John 19 DevIncept

In [4]:
x=19
x='DevIncept'
print(x)

DevIncept

In [5]:
x=19
x=23
print(x)

23

**Again play with the code as much as you want**

### **Naming of Variables**

**Valid Variable Names**

In [8]:
#Valid Variable names
myvariable1="DevIncept"
my_variable="JaneDoe"
_variable=17
print(myvariable1)
print(my_variable)
print(_variable)

DevIncept
JaneDoe
17

**Invalid Variable Names**

In [9]:
invalid-variable='Mahendra'
8variable=19
invalid name='Doe'

SyntaxError: ignored

### **Short Hand for assigning multiple variables in one line**

In [10]:
fruit,color,cost= "Apple","Green",15.75
print(fruit)
print(color)
print(cost)

Apple
Green
15.75

## **Data Types**

In [11]:
name="DevIncept"
print(type(name))

<class 'str'>

In [12]:
age=20
print(type(age))

<class 'int'>

### **Python Numbers**

In [13]:
#int
x=123
y=-987
z=687969176975
  
#float
a=23.897
b=-4.87970879879
  
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>

**Some Calculations for fun!!!**

In [14]:
   a=30
   b=20
   sum=a+b #does the addition
   diff=a-b #does the subtraction
   div=a/b #does the division
   print(sum)
   print(diff)
   print(div)

50
10
1.5

#### **Type Conversion**

In [15]:
   a=5 #int
   b=7.7 #float
   
   #converting from int to float:
   x=float(a)
   
   #converting from float to int:
   y=int(b)
   
   print(x)
   print(y)
   print(type(x))
   print(type(y))

5.0
7
<class 'float'>
<class 'int'>

**Python Casting**

In [16]:
   x=int("56") # x will be 56 
   y=int(8.9)  # y will be 8
   z=float(56) # z will be 56.0
   a=str(56)   # a will be '56'
   print(x)
   print(y)
   print(z)
   print(a)

56
8
56.0
56

## **Pyhton Strings**

In [17]:
   print('hello')
   print("hello")
   
   #Strings assigned in variables
   a= 'DevIncept'
   print(a)
   
   #Multiline Strings
   a = """Lorem ipsum dolor sit amet,
   consectetur adipiscing elit,
   sed do eiusmod tempor incididunt
   ut labore et dolore magna aliqua."""
   print(a)

hello
hello
DevIncept
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### **Strings as Arrays**

In [18]:
   a='DevIncept'
   print(a[0]) #prints the first letter
   print(a[-1]) #prints the last letter
   print(a[2]) #prints the third letter

D
t
v

### **String Concatenation**

In [19]:
   a="DevIncept "
   b="is a great "
   c="Company"
   print(a+b+c)

DevIncept is a great Company

### **String Slicing**

In [20]:
   a='DevIncept'
   print(a[0:3])

Dev

### **String Methods**

In [21]:
   a='DevIncept'
   print(a.lower()) # all lowercase
   print(a.upper()) # all uppercase

devincept
DEVINCEPT

### **Escape Characters**

In [22]:
   txt = "We are the so-called \"Vikings\" from the north."
   print(txt)

We are the so-called "Vikings" from the north.

## **Python Boolean**

In [23]:
   print(10 > 9)
   print(10 == 10)
   print(10 < 9)
   
   a=100
   b=200
   print(a>b)

True
True
False
False

# **Again you can change the code and play with it as much as you want !!!**