How to use conditional statements?

## 1.for loops:

Till the time the expression has a value and the conditions are satisfied for loop is executed , when the expression has reached it's last value , the control comes out of for loop.<br>
After the for statement, we have indentations for all the lines of code present inside the for block. This indentation helps a user to understand , which python lines are inside the for block.

Let us take some examples of for loops:

<ul>
<li><b><i>For loop for lists</i></b></li>
    </ul>

In [3]:
fruits=["dragonfruit","custard apple","mango"]
for i in fruits:
    print(i)

dragonfruit
custard apple
mango

Here , we are iterating over the list of name fruits. First time 'i' takes the value of fruits[0] , next time i=fruits[1] , and finally i becomes fruits[2]. And , inside the loop we are printing 'i'. So, the values of the list is printed one by one.

In [4]:
shapes=["triangle","square","rectangle"]
for s in shapes:
    print(s)

triangle
square
rectangle

In [5]:
shapes=["triangle","square","rectangle"]
for s in shapes
    print(s)

SyntaxError: invalid syntax (<ipython-input-5-d51f1edd98ca>, line 2)

Importance of colon(:)!

<ul>
<li><b><i>For loop for numbers</i></b></li>
    </ul>

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

range starts from 0 , and goes till n-1(where n is the specified number)

In [8]:
for i in range(5,60,5):
    print(i)

5
10
15
20
25
30
35
40
45
50
55

<ul>
<li><b><i>For loop for tuples</i></b></li>
    </ul>

In [9]:
colours=("blue","yellow","red")
for c in colours:
    print(c)

blue
yellow
red

Here , colours is a tuple. 
We are iterating ober a tuple.
Each time the value of c changes with each iteraton and the new value is printed.
Firstly , c is "blue".
After the first iteration the value of c becomes "red".
After the second iteration the value of c becomes "yellow".
And in each iteration the value of c is printed.

In [11]:
character = ("name","age","id")
for a in character:
    print(a)

name
age
id

In [12]:
a=((5,10),(20,40))
for c,d in a:
    print(c,d)

5 10
20 40

And we can keep playing with this!

<ul>
<li><b><i>For loop for sets</i></b></li>
    </ul>

In [13]:
sets={1,5,11,8}
for c in sets:
    print(c)

8
1
11
5

In [14]:
sets={60,5,1,0,75,1,25,33,60,2,0,75,25}
for c in sets:
    print(c)

0
1
33
2
5
75
25
60

In [15]:
sets={"apple","banana","custard apple","mango","apple"}
for i in sets:
    print(i)

custard apple
banana
apple
mango

<ul>
<li><b><i>For loop for dictionaries</i></b></li>
    </ul>

In [16]:
dicts={"name":"Prachi","year":"1998","cgpa":"9.23"}
for keys in dicts:
    print(keys)

name
year
cgpa

In [19]:
dicts={"name":"Prachi","year":"1998","cgpa":"9.23"}
for keys in dicts:
    print(dicts[keys])

Prachi
1998
9.23

In [21]:
dicts={"name":"Prachi","year":"1998","cgpa":"9.23"}
for keys,values in dicts.items():
    print(keys,values)

name Prachi
year 1998
cgpa 9.23

In [23]:
dicts={"name":"Prachi","year":"1998","cgpa":"9.23"}
for keys in dicts.values():
    print(keys)

Prachi
1998
9.23

## 2.While loops

In [24]:
i=0
while i<5:
    print(i)
    i=i+1

0
1
2
3
4

In [25]:
i = -5
while i<0:
    print(i)
    if i==-2:
        break
    i+=1

-5
-4
-3
-2

In [27]:
l=[0,1,5,3,8,20]
while l:
    print(l)
    l.pop()

[0, 1, 5, 3, 8, 20]
[0, 1, 5, 3, 8]
[0, 1, 5, 3]
[0, 1, 5]
[0, 1]
[0]

In [32]:
l=['*']*5
while l:
    print(l)
    l.pop()

['*', '*', '*', '*', '*']
['*', '*', '*', '*']
['*', '*', '*']
['*', '*']
['*']

In [35]:
i=0
sum=0
while i<5:
    sum+=i
    i+=1
print(sum)

10


<p>

*This contribution has been made by Prachi Agarwal. Contact me directly on my e-mail:agarwal.ashu.21@gmail.com . Or ping me at, https://www.instagram.com/prachi_diwan21/ .*

</p>