In [1]:
import pandas as pd

In [3]:
Boston=pd.read_csv('Boston.csv')

In [4]:
Boston.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [5]:
y=Boston[['medv']]

In [6]:
x=Boston[['crim']]

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [11]:
lr=LinearRegression()

In [12]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
y_pred=lr.predict(x_test)

In [14]:
y_test.head()

     medv
293  23.9
309  20.3
50   19.7
311  22.1
386  10.5

In [15]:
y_pred[0:5]

array([[23.71121368],
       [23.61076456],
       [23.70892416],
       [23.44469495],
       [14.55644792]])

In [16]:
from sklearn.metrics import mean_squared_error

In [18]:
mean_squared_error(y_test,y_pred)

72.33207099237366

In [19]:
x=Boston[['lstat']]

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4)

In [21]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
y_pred=lr.predict(x_test)

In [23]:
y_test.head()

     medv
25   13.9
133  18.4
263  31.0
51   20.5
66   19.4